.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Footer 높이 */
  background: #555555;
  text-align: center;
  box-sizing: border-box;
  padding: 20px 0;
  z-index: 999;
}

.footer-logo {
  width: 137px;
  height: auto;
  margin: 0 auto 10px auto;
}

.footer-line-1,
.footer-line-2,
.footer-line-3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5px 0;
}

.customer-service,
.service-hours,
.service-holiday,
.email,
.company-name,
.production,
.address,
.notice-text,
.separator {
  color: #f8f4eb;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.footer-line-3 .notice-text {
  color: #aaaaaa;
}