@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

header {
  background-color: #ffffff !important;
}

.header-text {
  font-family: "Lato", sans-serif;
}

.estimate-button > span {
  background-color: #006a20 !important;
  color: #ffffff !important;
  border: none;
  cursor: pointer;
}

.estimate-button:hover {
  background-color: #005a1a !important;
}

.estimate-button span {
  color: #ffffff !important;
}

header {
  background-color: #ffffff !important;
  margin: 0 !important;
  padding: 0 !important;
}
